<footer>
    <div class="f-info">
        <div class="social-icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div>&copy; 2024 Travigo Inc.</div>
        <div class="terms">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#" >SiteMap</a>
            <a href="#">Company Details</a>
        </div>
    </div>
</footer>